# Configurações de Email para Notificações
EMAIL_HOST_USER=seu_email@gmail.com
EMAIL_HOST_PASSWORD=sua_senha_de_app
NOTIFICATION_EMAIL=email@destinatario.com

# Outras variáveis de ambiente existentes...
# ENV_PUSHER_APP_ID=""
# ENV_PUSHER_KEY=""
# ENV_PUSHER_SECRET=""
# ENV_PUSHER_CLUSTER=""
