*.pyc
*/local_*
/static/
.coverage
/htmlcov/
/node_modules/
*.pkl
*.sublime-*
*_prod.*
test_err
test_log
id_rsa*
/dumps/
/docker/dump.sql
/ghostdriver.log
**/*payment_orders/**
/payment_orders/
.vscode
.venv
*.log
tags
*.sql.gz
**/*node_modules/**
/tmp
wsgi-prod.py
/upload/
**/*upload/**
db.sqlite3
*/*/local_*
.idea/

.env